@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;600&display=swap');
:root {
  --main-green-color: #bfd730;
  --greenblue-color: #27b781;
  --darkblue-color: #083050;
  --strongreen-color: #008000;
  --gray-font: rgba(63, 61, 61, 0.781);
}

body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.earth_title {
  position: absolute;
  z-index: 2;
  transition: 0.5s;
  pointer-events: none;
  animation: animate 21s linear infinite;
}

.earth {
  position: relative;
  top: 120px;
  width: 100%;
  height: 320px;
  padding: 0;
  margin: 0;
  background: #083050 url('../images/globe3.png');
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.897);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  animation: animate 12s linear infinite;
}

.earth:active {
  transform: scale(1.05);
}

.earth:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 355px;
  border-radius: 50%;
  overflow: hidden;
  background: #083050 url(../images/globe3.png);
  background-size: cover;
  border-radius: 50%;
  box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.897);
  animation: animate 18s linear infinite;
  z-index: 1;
}

.earth img {
  position: absolute;
  z-index: 1;
  transition: 0.5s;
  pointer-events: none;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 719px 0;
  }
}

.navbar {
  border-bottom: solid 0.01em rgba(172, 166, 166, 0.274);
  background-color: white;
  padding-top: 0;
}

.navbar-brand img {
  width: 6em;
  padding: 0px;
  position: relative;
  top: 0.1em;
}

.navbar-toggler-icon {
  font-size: 1.3em;
  position: relative;
  top: 0.3em;
  color: var(--gray-font);
}

.navbar-toggler:hover {
  background-color: var(--main-green-color);
}

.navbar-nav,
li {
  padding: 0.3em;
  font-size: 1.05em;
  background-color: white;
}

.nav-link {
}

.nav-link,
p {
  color: var(--gray-font);
  padding: 0.1em;
  padding-top: 0.6em;
  transition: ease-in-out 0.2s;
}

.nav-link::after {
  content: '';
  display: block;
  height: 2px;
  background-color: var(--main-green-color);
  transform: scaleX(0);
  transition: transform ease 0.3s;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

.nav-social-medias {
  display: inline-flex;
  position: relative;
}

.nav-social-list {
  list-style: none;
  display: inline-flex;
  float: left;
  left: -39px;
  position: relative;
}

.nav-item-media {
  padding: 0.5em;
}

.nav-icon-media {
  color: var(--darkblue-color);
  font-size: 1.5em;
  transition: transform ease 0.3s;
}

.nav-icon-media:hover {
  color: var(--main-green-color);
}

#header-top {
  background: #030e18;
  height: 500px;
  width: 100%;
}

.header-tittle {
  color: white;
  text-transform: uppercase;
  font-weight: 680;
  position: relative;
  text-align: center;
  top: 30px;
  font-size: 43px;
  text-shadow: var(--darkblue-color) 2px 2px 2px;
}

.header-subtittle {
  color: var(--main-green-color);
  position: relative;
  text-align: center;
  top: -17px;
  font-size: 43px;
  text-shadow: var(--darkblue-color) 2px 2px 2px;
}

.banner-teste {
  border-radius: 0;
  height: 15.2em;
  background-color: white;
}

.img-banner-card {
  width: 100%;
  height: 15em;
  position: relative;
  background: url('../images/people_work.png') var(--main-green-color);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.card-title {
  font-size: 22px;
}
.btn-teste {
  border: solid 3px var(--darkblue-color);
  background-color: var(--darkblue-color);
  width: 50%;
  text-align: center;
  position: relative;
  text-align: center;
  margin-left: 17px;
  height: 50px;
  width: 90%;
  border-radius: 3px;
  cursor: pointer;
}
.btn-teste:hover {
  background-color: var(--darkblue-color);
  transform: scaleX(1.1) scaleY(1.1);
  transition: transform ease 0.3s;
  color: white;
}

.btn-teste-link {
  text-align: center;
  color: white;
  font-size: 17px;
  font-weight: 500;
}

.btn-teste-link:hover {
  text-decoration: none;
  color: rgb(185, 183, 183);
}

.conecta {
  border-radius: 0;
  height: 30em;
  background-color: white;
}

.img-conecta-card {
  width: 100%;
  height: 15em;
  position: relative;
  border-bottom: solid 3px var(--strongreen-color);
  background: url('../images/conecta-02.png') var(--main-green-color);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.btn-conecta {
  width: 50%;
  background-color: var(--strongreen-color);
  text-align: center;
  position: relative;
  text-align: center;
  margin-left: 25%;
  height: 45px;
  border-radius: 3px;
  cursor: pointer;
}

.btn-conecta:hover {
  transform: scaleX(1.05) scaleY(1.05);
  transition: transform ease 0.3s;
  text-decoration: none;
}

.btn-conecta-link {
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 25px;
  position: absolute;
  top: 12px;
  right: 5%;
}


.pdc {
  border-radius: 0;
  height: 33em;
  background-color: white;
  top: -1.4em;
}


.img-pdc-card {
  width: 100%;
  height: 15em;
  position: relative;
  background: url('../images/PDC_01.png') var(--main-green-color);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  border-bottom: solid 3px var(--greenblue-color);
}


.btn-pdc {
  width: 50%;
  background-color: var(--greenblue-color);
  text-align: center;
  position: relative;
  text-align: center;
  margin-left: 25%;
  height: 45px;
  border-radius: 3px;
  cursor: pointer;
}

.btn-pdc:hover {
  transform: scaleX(1.05) scaleY(1.05);
  transition: transform ease 0.3s;
  text-decoration: none;
}

.btn-pdc-link {
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 25px;
  position: absolute;
  top: 12px;
  right: 5%;
}

.btn-pdc-link:hover {
  color: var(--main-green-color);
  text-decoration: none;
}

.alumni {
  border-radius: 0;
  height: 30em;
  background-color: white;
  top: -2.8em;
}
.img-alumni-card {
  width: 100%;
  height: 15em;
  position: relative;
  background: url('../images/alumni_02.png') var(--main-green-color);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  border-bottom: solid 3px var(--darkblue-color);
}

.btn-alumni {
  width: 50%;
  background-color: var(--darkblue-color);
  text-align: center;
  position: relative;
  text-align: center;
  margin-left: 25%;
  height: 45px;
  border-radius: 3px;
  cursor: pointer;
}

.btn-alumni:hover {
  transform: scaleX(1.05) scaleY(1.05);
  transition: transform ease 0.3s;
  text-decoration: none;
}

.btn-alumni-link {
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 25px;
  position: absolute;
  top: 12px;
  right: 5%;
}

.btn-alumni-link:hover {
  color: var(--main-green-color);
  text-decoration: none;
}


.about-us {
  width: 100%;
  height: 30em;
  margin-top: -43px;
  background-color: rgba(240, 234, 234, 0.308);
}

.about-us-title {
  display: inline-block;
  border-bottom: solid var(--main-green-color) 0.5px;
}
.about-us-area {
  margin-left: 13px;
}

.about-us-values {
  display: inline-flex;
  width: 99%;
}
.about-us-values-01,
.about-us-values-02,
.about-us-values-03,
.about-us-values-04,
.about-us-values-05 {
  height: 4.4em;
  width: 4.4em;
  border-radius: 50%;
  background-color: var(--main-green-color);
  margin-left: 4px;
  border: solid 0.1px #b6ce2f;
  box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.397);
}
.about-us-values-01:hover,
.about-us-values-02:hover,
.about-us-values-03:hover,
.about-us-values-04:hover,
.about-us-values-05:hover {
  background-color: var(--darkblue-color);
  cursor: pointer;
  border: none;
  box-shadow: 5px 5px 10px rgba(85, 85, 85, 0.726);
  transform: scaleX(1.03) scaleY(1.03);
  transition: transform ease-out 0.3s;
}

#values-a,
#values-b,
#values-c,
#values-d,
#values-e {
  font-size: 2.4em;
}

#values-a {
  padding-left: 23%;
  top: 22%;
  position: relative;
  color: white;
}

#values-b {
  padding-left: 17%;
  top: 20%;
  position: relative;
  color: white;
}

#values-c {
  padding-left: 17%;
  top: 20%;
  position: relative;
  color: white;
}

#values-d {
  padding-left: 32%;
  top: 20%;
  position: relative;
  color: white;
  font-size: 2.6em;
}

#values-e {
  padding-left: 24%;
  top: 20%;
  position: relative;
  color: white;
  font-size: 2.5em;
}

#slider-tittle {
  font-size: 40px;
  margin-left: 12px;
  color: var(--darkblue-color);
  display: inline-block;
  border-bottom: solid var(--main-green-color) 0.5px;
}

.thumbnail-slider {
  width: 95%;
  float: left;
  overflow: hidden;
  margin-left: 10px;
}

.thumbnail-slider .thumbnail-container {
  width: 100%;
  float: left;
  transition: margin 1s ease;
}

.thumbnail-slider .item {
  border-radius: 10px;
  height: 300px;
  background-color: var(--darkblue-color);
  line-height: 300px;
  text-align: center;
  font-size: 50px;
  color: #ffff;
  float: left;
  box-shadow: 3px 2px 10px rgba(53, 49, 49, 0.144);
  border: solid 0.01em rgba(128, 128, 128, 0.24);
}

.thumbnail-slider .sub-item {
  border-radius: 10px;
  height: 70%;
  width: 50%;
  position: relative;
  top: -542px;
  right: 2.5%;
  border: solid 1px gray;
}

#sub-item-01 {
  background: url('../images/PDC_01.png');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

#sub-item-02 {
  background: url('../images/PDC_01.png');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

#item-02 {
  background-color: var(--darkblue-color);
}

.sub-item-text {
  width: 50%;
  height: 96%;
  position: relative;
  max-width: 45%;
  left: 50%;
}

.sub-item-text-title {
  padding-top: 7px;
  color: white;
  font-size: 23px;
}

.sub-item-text-parag {
  font-weight: 400;
  color: rgba(245, 245, 245, 0.616);
  font-size: 15px;
  padding-top: 20px;
}

.sub-item-text-button {
  border-radius: 5px;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: var(--main-green-color);
  cursor: pointer;
  margin-top: 20px;
}

.sub-item-text-button-link {
  color: var(--darkblue-color);
  text-decoration: none;
  font-size: 21px;
  margin-top: 5px;
}

.sub-item-text-button-link:hover {
  color: var(--darkblue-color);
  text-decoration: none;
}

.thumbnail-slider .controls {
  width: 100%;
  float: left;
  padding: 0;
}

.thumbnail-slider .controls ul {
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.thumbnail-slider .controls ul li {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.144);
  background-color: rgba(128, 128, 128, 0.315);
  margin: 4px;
  display: inline-block;
  line-height: 33px;
  cursor: pointer;
  font-size: 11px;
}

.thumbnail-slider .controls ul li.active {
  background-color: var(--main-green-color);
  cursor: pointer;
}

.footer{
  background-color: #242a2c;
  margin-top: 400px;
  padding: 50px 0 250px;
  color: #454e51;
  font-size: 14px;
  font-family:'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer__links_li{
  list-style: none;
  background-color: #242a2c;
}


.footer__links a{
  color: white;
  display: block;
  font-weight: 600;
  text-decoration: none;
}

.footer__links a:hover{
  color: var(--main-green-color);
}


.footer__logo{
  text-transform: uppercase;
}

.nav-social-medias-icon-footer{
  margin-left: 2%;
  background-color:#242a2c;
}

.nav-social-list-footer{
  list-style: none;
  display: inline-flex;
  background-color:  #242a2c;
}

.nav-item-media-footer{
  background-color:  #242a2c;
}

.nav-icon-media-footer-link{
  font-size: 20px;
  color: var(--main-green-color);
}


.nav-icon-media-footer-link:hover{
  color: white;
}


@media only screen and (min-width: 992px){
  #header-top {
    background: url(../images/background_definitive_01.png);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    height: 700px;
    width: 100%;
  }
  .header-tittle {
    color: white;
    text-transform: uppercase;
    font-weight: 680;
    position: relative;
    text-align: center;
    top: 10%;
    left: 150%;
    font-size: 70px;
    text-shadow: var(--darkblue-color) 2px 2px 2px;
  }

  .header-subtittle {
    color: var(--main-green-color);
    position: relative;
    text-align: center;
    top: 4%;
    font-size: 70px;
    left: 150%;
    text-shadow: var(--darkblue-color) 2px 2px 2px;
  }


  .navbar-nav,
  li {
    padding: 0.3em;
    font-size: 1.05em;
    background-color: white;
  }

  .nav-link {
  }

  .nav-link,
  p {
    color: var(--gray-font);
    padding: 0.1em;
    margin-top: 0.9em;
    transition: ease-in-out 0.2s;
    width: 100%;
  }

  .nav-link::after {
    content: '';
    display: block;
    height: 2px;
    background-color: var(--main-green-color);
    transform: scaleX(0);
    transition: transform ease 0.3s;
  }

  .nav-link:hover::after {
    transform: scaleX(1);
  }
  .nav-social-medias {
    display: inline-flex;
    position: relative;
    top: 5px;
    width: 100%;
  }

  .nav-social-list {
    display: inline-flex;
    width: 100%;
    position: fixed;
    left: 80%;
  }
  .earth_title {
    position: absolute;
    z-index: 2;
    transition: 0.5s;
    pointer-events: none;
    animation: animate 21s linear infinite;
  }
  
  .earth {
    position: relative;
    top: 150px;
    width: 40%;
    height: 490px;
    margin-right: 20px;
    padding: 0;
    margin: 0;
    background: #083050 url('../images/globe3.png');
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.897);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    animation: animate 12s linear infinite;
  }
  
  .earth:active {
    transform: scale(1.05);
  }
  
  .earth:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 490px;
    border-radius: 50%;
    overflow: hidden;
    background: #083050 url(../images/globe3.png);
    background-size: cover;
    border-radius: 50%;
    box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.897);
    animation: animate 18s linear infinite;
    z-index: 1;
  }
  
  .earth img {
    position: absolute;
    z-index: 1;
    transition: 0.5s;
    pointer-events: none;
  }
  
  @keyframes animate {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 719px 0;
    }
  }
  
  .teste-banner {
    position: relative;
    background-color: var(--darkblue-color);
    height: 350px;
    width: 100%;
    padding: 0.5em;
    float: left;
  }
  .btn-teste {
    border: solid 3px;
    width: 50%;
    text-align: center;
    position: relative;
    text-align: center;
    color: var(--darkblue-color);
    margin-left: 17px;
    height: 80px;
    width: 60%;
    border-radius: 3px;
    cursor: pointer;
  }

  .btn-teste:hover {
    background-color: var(--darkblue-color);
    transform: scaleX(1.05) scaleY(1.05);
    transition: transform ease 0.3s;
    text-decoration: none;
  }

  .btn-teste-link {
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 25px;
    position: absolute;
    top: 12px;
    right: 35%;
  }

  .btn-teste-link:hover {
    color: var(--main-green-color);
    text-decoration: none;
  }

  .conecta {
    border-radius: 0;
    height: 15em;
    background-color: white;
    border-bottom: solid 4px var(--strongreen-color);
    top: -1em;
  }
  
  .img-conecta-card {
    width: 100%;
    height: 14.7em;
    position: relative;
    border-bottom: solid 0px var(--strongreen-color);
    background: url('../images/conecta-02.png') var(--main-green-color);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }

  .btn-conecta {
    width: 50%;
    text-align: center;
    position: relative;
    text-align: center;
    background-color: var(--strongreen-color);
    margin-left: 25%;
    height: 60px;
    border-radius: 3px;
    cursor: pointer;
  }

  .btn-conecta:hover {
    transform: scaleX(1.05) scaleY(1.05);
    transition: transform ease 0.3s;
    text-decoration: none;
  }

  .btn-conecta-link {
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 25px;
    position: absolute;
    top: 9px;
    right: 10%;
  }

  .btn-conecta-link:hover {
    text-decoration: none;
  }
  
  .pdc {
    border-radius: 0;
    height: 15em;
    background-color: white;
    border-bottom: solid 4px var(--greenblue-color);
    top: -2.5em;
  }

  .img-pdc-card {
    width: 100%;
    height: 14.7em;
    position: relative;
    border-bottom: solid 0px var(--greenblue-color);
    background: url('../images/PDC_01.png') var(--main-green-color);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }


  .btn-pdc {
    width: 50%;
    text-align: center;
    position: relative;
    text-align: center;
    background-color: var(--greenblue-color);
    margin-left: 25%;
    height: 60px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .btn-pdc:hover {
    transform: scaleX(1.05) scaleY(1.05);
    transition: transform ease 0.3s;
    text-decoration: none;
  }
  
  .btn-pdc-link {
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 25px;
    position: absolute;
    top: 9px;
    right: 10%;
  }
  
  .btn-pdc-link:hover {
    color: var(--main-green-color);
    text-decoration: none;
  }

  .alumni {
    border-radius: 0;
    height: 15em;
    background-color: white;
    border-bottom: solid 4px var(--darkblue-color);
    top: -4em;
  }

  .img-alumni-card {
    width: 100%;
    height: 14.7em;
    position: relative;
    background: url('../images/alumni_02.png') var(--main-green-color);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    border-bottom: solid 0px var(--darkblue-color);
  }

  .btn-alumni{
    width: 50%;
    text-align: center;
    position: relative;
    text-align: center;
    background-color: var(--darkblue-color);
    margin-left: 25%;
    height: 60px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .btn-alumni:hover {
    transform: scaleX(1.05) scaleY(1.05);
    transition: transform ease 0.3s;
    text-decoration: none;
  }
  
  .btn-alumni-link {
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 25px;
    position: absolute;
    top: 12px;
    margin-left: 25px;
  }
  
  .btn-pdc-alumni:hover {
    color: var(--main-green-color);
    text-decoration: none;
  }

  .about-us {
    display: inline-flex;
    width: 100%;
    height: 22em;
    top: -30px;
  }
  .about-us-area {
    margin-left: 13px;
    width: 100%;
  }
  .about-us-values {
    display: inline-flex;
    width: 100%;
    margin-top: 5%;
  }
  .about-us-values-01,
  .about-us-values-02,
  .about-us-values-03,
  .about-us-values-04,
  .about-us-values-05 {
    height: 7.4em;
    width: 7.4em;
    border-radius: 50%;
    background-color: var(--main-green-color);
    margin-left: 4px;
    border: solid 0.1px #b6ce2f;
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.397);
  }
  .about-us-values-01:hover,
  .about-us-values-02:hover,
  .about-us-values-03:hover,
  .about-us-values-04:hover,
  .about-us-values-05:hover {
    background-color: var(--darkblue-color);
    cursor: pointer;
    border: none;
    box-shadow: 5px 5px 10px rgba(85, 85, 85, 0.726);
    transform: scaleX(1.03) scaleY(1.03);
    transition: transform ease-out 0.3s;
  }

  #values-a,
  #values-b,
  #values-c,
  #values-d,
  #values-e {
    font-size: 4.3em;
  }
  #values-a {
    padding-left: 25px;
  }
  #values-b {
    padding-left: 18px;
  }

  .nav-social-medias-icon-footer{
    margin-left: 07%;

}


@media only screen and (max-width: 360px) {
  .about-us-area {
    margin-left: 13px;
  }

  .about-us-values {
    display: inline-flex;
    width: 99%;
  }
  .about-us-values-01,
  .about-us-values-02,
  .about-us-values-03,
  .about-us-values-04,
  .about-us-values-05 {
    height: 4em;
    width: 4em;
    border-radius: 50%;
    background-color: var(--main-green-color);
    margin-left: 4px;
    border: solid 0.1px #b6ce2f;
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.397);
  }
}

@media only screen and (max-width: 320px) {
  .about-us-values-01,
  .about-us-values-02,
  .about-us-values-03,
  .about-us-values-04,
  .about-us-values-05 {
    height: 3.4em;
    width: 3.4em;
    border-radius: 50%;
    background-color: var(--main-green-color);
    margin-left: 4px;
    border: solid 0.1px #b6ce2f;
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.397);
  }
  .header-tittle {
    font-size: 43px;
  }
  #values-a {
    padding-left: 19%;
    top: 22%;
    position: relative;
    color: white;
    font-size: 2em;
  }

  #values-b {
    padding-left: 15%;
    top: 20%;
    position: relative;
    color: white;
    font-size: 2em;
  }

  #values-c {
    padding-left: 15%;
    top: 20%;
    position: relative;
    color: white;
    font-size: 2em;
  }

  #values-d {
    padding-left: 32%;
    top: 20%;
    position: relative;
    color: white;
    font-size: 2.3em;
  }

  #values-e {
    padding-left: 24%;
    top: 20%;
    position: relative;
    color: white;
    font-size: 2.2em;
  }
}
}